.header {
    height: 34vw;
    margin: 30px auto;
    background: url('./header_img.png') no-repeat;
    background-size: contain;
    position: relative;

}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: start;
    bottom: 10%;
    left: 6vw;
    color: white;
    max-width: 50%;
    animation: fadeIn 2s;

}

.header-content h1 {
    font-size: 4.2em;
    font-weight: 500;
}

.header-content button {
    cursor: pointer;
    padding: 15px 30px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    color: #555;
    font-size: 16px;
}

@media (max-width:1050px) {
    .header-content h1 {
        font-size: 32px;

    }

    .header-content p {
        font-size: 10px;
    }

}

@media (max-width:750px) {
    .header-content h1 {
        font-size: 20px;
    }

    .header-content button {
        padding: 5px 10px;
        font-size: 12px;
    }

    .header-content p {
        display: none;
    }

}